<nav class="navbar navbar-light bg-light p-0">
  <button
    class="btn btn-lg btn-light"
    type="button"
    data-toggle="dropdown"
    style="outline: none;"
  >
    <span class="caret"></span>ENG
  </button>

  <h3>MISABSR</h3>
  <div class="justify-content: flex-end">
    <button
      class="btn btn-lg font-weight-light"
      style="background-color: red; border-radius: 0px; color: white;"
    >
      OUR METHODOLOGY
    </button>
    <button
      class="btn btn-lg font-weight-light"
      style=" background-color: red; border-radius: 0px; color: white;"
    >
      SUBMIT FACT CHECK
    </button>
  </div>
</nav>
<ul class="nav pb-3 pt-3 bg-light border">
  <li class="nav-item px-1">
    <a class="nav-link text-dark" href="#">HOME</a>
  </li>
  <li class="nav-item px-1">
    <a class="nav-link text-dark" href="#">FACT CHECKS</a>
  </li>
  <li class="nav-item px-1">
    <a class="nav-link text-dark" href="#">TRENDING NEWS</a>
  </li>
  <li class="nav-item px-1">
    <a class="nav-link text-dark" href="#">ABOUT US</a>
  </li>
  <li class="nav-item px-1">
    <a class="nav-link text-dark" href="#">CONTACT US</a>
  </li>
</ul>
