<div class="card mt-3 mb-2">
  <div class="card-body">
    <h5 class="card-title">
      <span class="badge mx-1">1</span
      ><b>What is 'Social News' on the Internet?</b>
    </h5>
    <p class="card-text">
      An increasing number of people are getting their news by tuning to what
      some refer to as 'social news'.
    </p>
  </div>
  <img src="{{ news.img }}" alt="Card image cap" />
  <div class="card-footer text-muted">
    <footer>
      <b style="color: red">Jordan</b> Was Published
      <b style="color: grey">35min Ago</b>
    </footer>
  </div>
</div>
