<body class="bg-light">
  <app-header></app-header>
  <div class="container-fluid px-4">
    <h2 class="pt-5">Fact Check</h2>
    <div class="row mt-3 mb-3 px-0">
      <div class="col-md-9">
        <app-fact-check></app-fact-check>
        <app-fact-check></app-fact-check>
        <app-fact-check></app-fact-check>
      </div>
      <div class="col-md-3 mt-3 mb-2">
        <app-subscription></app-subscription>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-dark pb-4 mt-3 px-5">
    <app-hot-topics></app-hot-topics>
  </div>
  <div class="container-fluid px-4">
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    >
      <div class="row mt-3 mb-3">
        <div class="col-md-9">
          <app-fact-check></app-fact-check>
        </div>
        <div class="col-md-3 mt-3 mb-3">
          <h5><b>Popular Fact Checks</b></h5>
          <app-popular-facts></app-popular-facts>
        </div>
      </div>
    </div>
  </div>
</body>
