<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">
      Subscribe to Misabsr
    </h5>
    <p class="card-text pb-4">
      When misinformation obscures the truth and readers don't know what to
      trust, misbar.com's fact checking and original inverstigative reporting
      lights the way to evidence-based and contextualized analysis.
    </p>
    <hr />
    <p class="card-text pt-4">
      Sign up here to get the latest news and updates
    </p>
    <input
      type="email"
      class="form-control text-center mt-5 mb-2"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter your e-mail address"
      style="border-radius: 20px;"
    />
    <a href="#" class="btn btn-danger btn-block">Subscribe</a>
  </div>
</div>
